.column1 {
    height: 80vh;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding-bottom: 200px;
    margin-top: 3px;
}

.column2 {
    float: left;
    margin-left: 25px;
}

@media screen and (max-width: 600px){
    
    .column2
    {margin-left: 0px;}
    
}